
.slick-arrow.slick-prev,
.slick-arrow.slick-next {
 
  height: 40px;
  width: 20px;
  padding-right: 20px;

  border-radius: 20px;
 
  background-color: var(--color-bg);
  position: absolute;
}

dots {
  color: var(--color-bg);
  
}

.sliderdiv{
  border:1px solid;
 width:100%;
 display: flex;

 
}
#tech {
  width: 450px;
 text-align: center;
  border-radius: 15px;
  font-size: 30px;
}

.card{
display: grid;
   width:85%;
  margin: auto;
  grid-template-columns: repeat(2,1fr);

  border: 3px solid var(--color-bg);
  margin-top:40px;

}
.card div{

  width:100%;
}


