#contactform {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 85%;
  margin: auto;

  border-radius: 1rem;
  color: white;
  background-color: rgb(150, 10, 150);
}
#tech {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin: auto;
  border-radius: 15px;
  font-size: 35px;
  margin-top: -30px;
  margin-bottom: 30px;
}
/* #contactform div{
    padding:10px
} */
#contactform > :nth-child(2) {
  background-color: white;
  color: var(--color-heading);
  width: 75%;
}
#contactform > :nth-child(1) > div {

  border:1px solid  rgb(150, 10, 150);;
}
#contactform > div {
  width: 60%;
  align-items: center;
  height: 83%;
  margin: auto;
  border-radius: 1rem;
  padding: 40px;
}
#contactform input {
  font-size: 19px;
  font-weight: bold;
  padding: 7px;
  width: 80%;

  border-radius: 5px;
  border: 2px solid  rgb(150, 10, 150);;
}
#formbu button {
  margin-top: 20px;
  background-color: rgb(150, 10, 150);
  color: white;
  width: 55%;
}
#message {
  height: 100px;
}
#sociallinks {
  display: flex;
  color: rgb(255, 255, 255);
  width: 40%;

  justify-content: space-between;
}
#sociallinks a {
  font-size: 40px;
  color: rgb(255, 255, 255);
}
@media all and (min-width: 320px) and (max-width: 767px) {
  #contactform {
    grid-template-columns: repeat(1, 1fr);
  }
  #sociallinks {
    display: flex;
    color: rgb(255, 255, 255);
    width: 50%;
  
    justify-content: space-between;
  }
}
