
  @media all and (min-width: 770px) and (max-width: 2000px) {
    #skillsdiv {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
      
        border-radius: 20px;
        margin: auto;
        align-self: center;
      }
      #skillsdiv div {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 20px;
        text-align: center;
        border-radius: 15px;
       
      }
      #skillsdiv div:hover{
        background-color: rgb(241, 241, 241);
      }
      #skillsdiv img {
        width: 100px;
      }
      #tech{
        width: 450px;
        
       
        border-radius: 15px;
        font-size: 30px;
      }
      #tools{
        width: 200px;
        font-size: 30px;
        
      }
  }
  @media all and (min-width: 320px) and (max-width: 767px) {
    
    #skillsdiv {
    display: grid;
     grid-template-columns: repeat(3, 1fr); 
      gap: 10px;
      margin: auto;

    }
    #skillsdiv img {
      width: 60px;
    }
    #skillsdiv div {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      padding: 15px;
      border-radius: 15px;
      text-align: center;

      
     
    }
    #skillsdiv div:hover{
        background-color: rgb(241, 241, 241);
      }
    #tech{
        width: 360px;
        font-size: 25px;

      }
      #tools{
        width: 160px;
        font-size: 25px;
        
      }
  }
  
  #button{
    padding: 20px;
  }