@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body {
  margin: 0;
  padding:0;
 
  
  font-family: 'Poppins', sans-serif;
 
  
}
:root{
  --color-font:#850db4 ;
  --color-bg:var(--color-font);
  --color-second:var(--color-font);
  --color-text:white;
  --color-heading:#242d49;
}
::-webkit-scrollbar{
  width:7px;
 
}
::-webkit-scrollbar-track{
  background-color: white;
}
::-webkit-scrollbar-thumb{
  background-color: var(--color-bg);
}

html{
  scroll-behavior:smooth;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 0.5em;
  font-size: 1.1em;
  font-weight: bold;
  color:var(--color-heading);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
  background-color: var(--color-bg);
  color:white
}

section{
 
   margin:0 auto; 
  /* margin-top:100px; */
  padding-top:70px;
}
